* {
  padding: 0;
  margin: 0;
  /*background-color: #CCFFD1;*/
}
body {
  min-height: 100vh;
  position: relative; 
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #094200;
  height: 80px;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 4px gray;
  z-index: 1;
}
header a {
  color: white; 
  text-decoration: none; 
}
header h1 {
  background-color: #094200;
  margin-left: 20px;
  font-family: HGP行書体;
  color: white;
  text-shadow: 3px 3px #242424;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  height: 80px;
  background-color: #094200;
  display: flex;
  color: white;
  text-shadow: 1px 2px 3px #808080;
}
header li {
  height: 80px;
  list-style: none;
  margin-right: 40px;
  margin-top: 28px;
}
header a {
  background-color: #094200;
}

main {
  padding-top: 90px;
  padding-bottom: 64px;
  padding-left: 20px;
  padding-right: 32px;
  background-color: #FBEFD2;
}

footer {
  color: white;
  height: 30px;
  background-color: #242424;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: flex-end;
}




/*サインアップ*/
.field {
	position: relative;
	width: 80%;
	margin: 40px 3%;
}
.field input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
	background: white;
}

.field input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);

}

.field input[type='email'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
	background: white;
}
.field input[type='email']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

.field input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4em;
	background: white;
}
.field input[type='password']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
.ef {
	position: relative;
	padding: 7px 15px;
	border: 0;
	border: 1px solid #1b2538;
	background: transparent;
}

.user_edit input[type="submit"] {
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 32px;
    background-color: #474797;
}

.user_edit .delete input[type="submit"] {
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 32px;
  background-color: #bb1d1d;
}

.user_new input[type="submit"] {
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 32px;
    background-color: #474797;
}

@media screen and (max-width:640px){
  header li {
    height: 80px;
    list-style: none;
    margin-right: 20px;
    margin-top: 28px;
  }
  
  footer {
    height: 50px;
  }
}

