.index {
    text-align:center
}

a {
  text-align:center
}

.courses-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.course {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.wanoato{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid blue;
  padding-left: 3px;
}

.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.right-container{
  width: 140px;
}

.course_name {
  font-family: HGP行書体;
}

.time {
  display: flex;
  justify-content: flex-end;
}