.index {
    text-align:center
}

form {
  margin-bottom: 20px;
}

a {
  text-align:center
}

//「コース開拓へ」
.course_create a {
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  margin-bottom: 32px;
  background-color: #094200;
  padding: 3px;
  border: 6px double #ffffff;
}

.courses-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.course {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.wanoato{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #094200;
  padding-left: 3px;
}

.picture img {
  border-radius: 8px;
  width: 100%;
}

.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.right-container{
  width: 160px;
}

.right-container {
  margin-left: 3px;
}

.course_name {
  font-family: HGP行書体;
  font-size: 130%;
  color: #811226;
}

.time {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:640px){
  .main-box {
    margin: 5px 0;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .courses-container {
    width: 100%;
    margin: 10px auto;
  }
}
