.index {
    background-color: #CCFFD1;
}
.courses-container {
  width: 50%;
  margin: 10px auto;
}
h3 {
  margin-bottom: 30px;
}
.course {
  border-top: solid #00acee;
  margin-top: 10px;
  padding-top: 20px;
}
.wanoato{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid blue;
  padding-left: 3px;
}
.main-box {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.right-container{
  width: 107px;
}
.time {
  display: flex;
  justify-content: flex-end;
}