.post-container {
  margin: 50px auto;
  width: 50%;
  border: solid #d3def1;
  border-radius: 10px;
  text-align: center;
  background-color: #d3def1;
}

#course_course_name {
  width: 80%;
}

.course-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}

.col-auto{
  padding: 0;
}

.field input[type='text'] {
	width: 50%;
	padding-left: 0;
}

#course_feature {
  width: 50%;
  height: 64px;
}

.field {
  margin-bottom: 10px;
}

input [id="address"] {
  margin-top: 10px;
}

#map {
  width: 70%;
  height: 600px;
}

// スマホレスポンシブ
@media screen and (max-width:640px){
  #map {
    width: 95%;
    height: 400px;
  }
  
  #course_feature {
    width: 95%;
    height: 100px;
  }
}

.post [type="submit"] {
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}