<p>輪の跡-wanoato-のパスワード変更</p>
<p><%= @resource.email %>様、お世話になっております。</p>

<p>パスワードはこちらから変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない場合は無視してください。</p>
